@font-face {
  font-family: '3Dumb';
  src: url('3Dumb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none;
}


body {
  font-family: '3Dumb', serif;
  background: url("https://images.unsplash.com/photo-1708549566274-638eb2d2108b?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #000;
}

.container {
  text-align: center;
  max-width: none;
  max-height: none;
  width: 100%;
  height: 100%
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

button {
  font-family: '3Dumb', serif;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 12px;
  border: 2px solid black;
  background: #bef0ff;
  color: black;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

button:hover {
  background: #6dd7fd;
}

.next-button {
  margin-top: 10px;
  background: #bef0ff;
  color: black;
}

.hidden {
  display: none;
}

#feedback {
  font-weight: bold;
  font-size: 24px;
}

.correct {
  color: #006400;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.incorrect {
  color: #8B0000;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

#volume-slider {
  -webkit-appearance: none;
  width: 100px;
  height: 6px;
  background: #1c274c;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

#volume-slider::-moz-range-track {
  background: #1c274c;
  border-radius: 3px;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #1c274c;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

#volume-slider::-moz-range-thumb {
  background: #1c274c;
}






